body {
    background: #ccc;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.white {
    color: #fff;
}

.yellow {
    color: yellow;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}